{% extends "employee/templates/employee_template.html" %}

{% block title %}Customers{% endblock %}

{% block main %}
<div id="list-customers-table" class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Manage Customers</th>
                  </tr>
                </thead>
            
                <tbody>
            
                    {% for customer in all_customers %}
                  <tr>
                    <td>{{customer[0]}}</td>
                    <td>{{customer[1]}}</td>
                    <td>{{customer[2]}}</td>
                    <td>{{customer[3]}}</td>
                    <td>
                        <a href="/customer-profile?username={{customer[3]}}">Profile</a>
                        <a href="/update-customer?username={{customer[3]}}">Update</a>          
                        <a href="/delete-customer?username={{customer[3]}}">Delete</a>
                    </td>
                  </tr>
                    {% endfor %}
            
                </tbody>
              </table>
        </div>
    </div>
</div>


{% endblock %}