{% extends "customer/templates/customer_template.html" %}

{% block title %}Customer Reset Password{% endblock %}

{% block main %}


<div class="container">
    <div class="form-control">

            <form action="/customer-reset-password" method="POST">

                <div class="form-control">
                    <h6>Name: {{details[1]}} {{details[2]}}</h6>
                </div>

                <div class="form-control">
                    <label for="">User Name: {{details[3]}}</label>
                    <input type="hidden" , name="username" , value="{{details[3]}}">
                </div>

                <div class="form-control">
                    <label for="">New Password:</label>
                    <input type="password" name="new_pass" id="" required>
                </div>

                <div class="form-control">
                    <label for="">Comfirm Password:</label>
                    <input type="password" name="comfirm_pass" id="" required>
                </div>

                <div class="form-control">
                    <div class="col-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>

    </div>
</div>


{% endblock %}